{% extends "layout.html" %}

{% block pagestyles %}
{% assets "posts_style_bundle" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div class="outer-container">
    <div class="post-list-container">
        <ul class="all-post-title-list">
            {% for title in titles: %}
            <li class="title">
            <a href="{{ url_for('posts_bp.render_post', post_id=title[1]) }}"> - {{title[0]}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}