{% extends "layout.html" %}

{% block pagestyles %}
{% assets "posts_style_bundle" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div class="new-post-container">
    <div class="post-form-container">
        <div class="new-post-header">new post</div>
        <form method="POST" action="/new-post">
            {{ form.csrf_token }}
            {{ form.title.label }} {{ form.title(size=20) }}
            {{ form.content.label }} {{ form.content(size=20) }}
            <input type="submit" value="post it">
        </form>
    </div>
</div>
{% endblock %}