{% extends "layout.html" %}

{% block pagestyles %}
{% assets "posts_style_bundle" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div class="outer-container">
    <div class="render-post-container">
        <div class="title">{{ title }}</div>
        <div class="render-post-content">
        {{ content|safe }}
        </div>
    </div>
</div>
{% if logged_in: %}
<a href="{{ url_for('posts_bp.edit_post', post_id=post_id) }}">edit-post</a>
{% endif %}
</div>
{% endblock %}