.big-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto fit-content);
    grid-auto-flow: row;
    padding: 1rem;
    justify-content: center;
    margin: 4rem 6rem;
}

.home-like-container {
    display: flex;
}

.home-like-container img {
    width: 35px;
}

.like-count {
    margin: 0 auto 0 1rem;
    font-size: 1.5rem;
    color: var(--header-color);
    align-self: flex-end;
}

.greeting-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0 6rem;
}

.greeting {
    font-size: var(--greeting-font-size);
    color: var(--greeting-color);
    width: 60vw;
}

.latest-posts-outer {
    display: flex;
    justify-content: center;
}

.latest-posts-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto 1fr);
    grid-auto-flow: row;
    gap: 1px;
    background-color: var(--hr-color);
    max-width: 70vw;
}

.hr {
    width: 80vw;
}


.latest-posts-header {
    font-size: var(--header-font-size);
    color: var(--header-color);
    background-color: var(--bg-color);
    text-align: center;
    padding-bottom: 1rem;
}

.blurb-wrap {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.blurb-container {
    padding: 1rem 0rem 2rem 0rem;
    color: var(--header-color);
    background-color: var(--bg-color);
    width: clamp(40rem, 80rem, 60vw);
}

.blurb-title {
    font-size: var(--greeting-font-size);
    color: var(--blurb-title-color);
    padding: .5rem 0;
}



.blurb-content {
    margin-left: 1.5rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 4px;
    line-height: 2.5rem;
    font-family: var(--post-font-family);
}