:root {
    --greeting-color: rgb(240, 200, 125);
}
.big-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.greeting-container {
    display: flex;
    justify-content: center;
}

.greeting {
    max-width: 80%;
    font-size: 1.5rem;
    color: var(--greeting-color);
}