<nav class="navigation-default">
  <div class="nav-wrapper">
    <div class="nav-bar">
      <a class='btn-nav logo-img' id='btn-home' href="{{ url_for('home_bp.home') }}">
        <img src="{{ url_for('static', filename='img/logo-no-background.png') }}" alt="">
      </a>
      <a class='btn-nav' id='btn-home' href="{{ url_for('home_bp.home') }}">home</a>
      <a class='btn-nav' id='btn-about' href="{{ url_for('posts_bp.all_posts')}}">all posts</a>
      <a class='btn-nav' id='btn-about' href="{{ url_for('resources_bp.about')}}">about</a>
      <a class='btn-nav' id='btn-contact' href="{{ url_for('resources_bp.contact') }}">contact</a>
      {% if logged_in %}
      <a class='btn-nav' id='btn-contact' href="{{ url_for('posts_bp.new_post')}}">new post</a>
      {% endif %}
    </div>
  </div>
</nav>