section {
    padding: 3rem;
    display: flex;
    justify-content: start;
}

section.call-to-act {
    justify-content: center;
}

.call-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 4rem;
    width: clamp(40rem, 60vw, 60rem);
    text-align: center;
}

.call-to-act h1{
    font-size: 2.5rem;
    align-self: end;
    margin-bottom: 2rem;
    grid-area: 1 / 1 / 2 / 2;
    white-space: nowrap;
    color: var(--nav-bg-color);
}

section h2 {
    font-size: 2rem;
    grid-area: 1 / 1 / 2 / 3;
    color: var(--greeting-color);
}

.contact {
    background-color: var(--about-me-bg-color);
    color: var(--greeting-color);
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(4, 1fr);
    grid-auto-flow: column;
    margin-left: 9rem;
    gap: 1rem;
}

.contact-container p {
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 1.25;
}

.contact-container a {
    color: var(--link-color);
}

.contact a {
    color: var(--contact-link-color);
}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.about-container p {
    max-width: 60vw;
    color: var(--greeting-color);
    font-size: 1.5rem;
    line-height: 2rem;
}