{% extends "layout.html" %}

{% block pagestyles %}
{% assets "home_style_bundle" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div class="big-container">
    <div class="greeting-container">
        <div class="greeting">hello this is my blog about all things coding. A
            lot of the posts here describe how I worked my way through projects.
            These posts are meant to be a place for me to record my process as
            as well as a place to share what I've done and hopefully help out
            some other folks. I'd love to hear you're thoughts about my work.
            Feel free to drop a comment, smash the like button, or send me a
            friendly email. Cheers, Alex.
        </div>
    </div>
    <div class="latest-posts-container">
        <div class="latest-posts-header">latest posts</div>
        <div class="blurbs-container">
            <div class="blurb">an example here</div>
        </div>
    </div>
</div>
{% endblock %}