{% extends "layout.html" %}

{% block pagestyles %}
{% assets "home_style_bundle" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}
{% endblock %}

{% block content %}
{% include "navigation.html" %}
<div class="big-container">
    <div class="home-like-container">
        <button class="heart-wrap">
            <div class="is-it-liked" hidden>{{ data['liked'] }}</div>
            <img class="hearted" src="{{ url_for('static', filename='img/heart-outline.png') }}">
        </button>
        <div class="like-count">
            <span>{{likes}} likes</span>
        </div>
    </div>
    <div class="greeting-container">
        <div class="greeting">Welcome to my blog about all things coding. A
            lot of the posts here describe how I worked my way through projects.
            These posts are meant to be a place for me to record my process as
            as well as a place to share what I've done and hopefully help out
            some other folks. I'd love to hear you're thoughts about my work.
            Feel free to drop a comment, smash the like button, or send me a
            friendly email. Cheers, Alex.
        </div>
    </div>
    <div class="latest-posts-outer">
        <div class="latest-posts-inner">
            <div class="latest-posts-header">latest posts</div>
            {% for post in posts %}
            <div class="hr"></div>
            <a href="{{ url_for('posts_bp.render_post', post_id=post[1]) }}">
                <div class="blurb-container">
                    <div class="blurb-title">{{ post[0] }}</div>
                    <div class="blurb-content">{{ post[2] }}</div>
                    {# <div class="hr-spacer"></div> #}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}